h1 {
  font-family: 'Montserrat', sans-serif;
  color: #DDE2E3;
}

.page-container {
  height: 100%;
  width: 100%;
  background-image: url("./images/background.jpg");
  background-size: contain;
  background-size: cover;
}

.app-title {
  text-align: center;
  background-color: #B37C57;
}

.login-container {
  height: 100%;
  width: 50%;
  margin: 0 auto;
  padding: 5em 0;
}

  .login-container div.segment {
    background-color: #B37C57;
    padding: 1.5em 0;
  }

  .login-container .primary {
    background-color: #60412B !important;
    color: #DDE2E3 !important;
  }

  .login-container .secondary {
    color: #DDE2E3 !important;
  }